# --- Telegram API (dapatkan dari my.telegram.org) ---
TELEGRAM_API_ID=""
TELEGRAM_API_HASH=""

# --- Bot Controller (dapatkan dari @BotFather) ---
BOT_TOKEN=

# --- Security (SANGAT PENTING!) ---
# Daftar User ID Telegram yang diizinkan menggunakan bot, pisahkan dengan koma.
# Kosongkan untuk mengizinkan semua orang (TIDAK AMAN!).
AUTHORIZED_USERS=YOUR_CHAT_ID

# --- Database ---
DB_PATH=db/forwarder_data.sqlite

#--- Proxy For Telehon (optional) ---

PROXY_TYPE=socks5
PROXY_HOST=127.0.0.1
PROXY_PORT=1080
PROXY_USER=
PROXY_PASS=