# --- Telegram API (dapatkan dari my.telegram.org) ---
TELEGRAM_API_ID=""
TELEGRAM_API_HASH=""

# --- Bot Controller (dapatkan dari @BotFather) ---
BOT_TOKEN=

# --- Security (SANGAT PENTING!) ---
# Daftar User ID Telegram yang diizinkan menggunakan bot, pisahkan dengan koma.
# Kosongkan untuk mengizinkan semua orang (TIDAK AMAN!).
AUTHORIZED_USERS=YOUR_CHAT_ID

# ADMIN PANEL ACCESS
# Daftar USER ID admin (dipakai untuk notifikasi dan kontak admin saat user belum di-approve).
# Pisahkan dengan koma jika lebih dari satu, misalnya: 111111111,222222222
ADMIN_USER_IDS=6572025832
# --- Database ---
DB_PATH=db/forwarder_data.sqlite

#--- Proxy For Telehon (optional) ---

PROXY_TYPE=socks5
PROXY_HOST=127.0.0.1
PROXY_PORT=1080
PROXY_USER=
PROXY_PASS=

# Batas ukuran file (MB) untuk download & upload ulang
MAX_UPLOAD_SIZE_MB=2048
CACHE_TTL_HOURS=24
## Batas total ukuran cache downloads (MB). Kosongkan untuk menonaktifkan.
MAX_CACHE_DISK_MB=1024

# Tidak ada variabel khusus untuk filter media.
# Pilihan foto/video/dokumen dapat diatur lewat menu bot.
# Jadwal otomatis start/stop juga diatur lewat menu bot.
